{% extends "layout.html" %}

{% block content %}
  <h3>Add a Book</h3>
  <hr>
  <form method="POST" action="/books/">
  <!-- this posts to "/books/" using the POST route to "/" -->
    <div>
      <h3>Author Details</h3>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Author Name</label>
      <div class="col-sm-10">
        <input name="name" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="language" class="col-sm-2 control-label">Author Language</label>
      <div class="col-sm-10">
        <input name="language" type="text" class="form-control"/>
      </div>
    </div>
    <hr>
    <div>
      <h3>Book Details</h3>
    </div>
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Book Title</label>
      <div class="col-sm-10">
        <input name="title" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="synopsis" class="col-sm-2 control-label">Synopsis</label>
      <div class="col-sm-10">
        <textarea name="synopsis"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="ISBN" class="col-sm-2 control-label">ISBN</label>
      <div class="col-sm-10">
        <textarea name="ISBN" placeholder="978-3-16-148410-0"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="categories" class="col-sm-2 control-label">categories</label>
      <div class="col-sm-10">
        <input name="categories" type="text" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label for="pubdate" class="col-sm-2 control-label">publication date</label>
      <div class="col-sm-10">
        <input name="pubdate" type="date" class="form-control"/>
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>

  </form>
{% endblock %}
