{% extends "layout.html" %}

{% block content %}
<h3>{{ book.title }}
</h3>
<!-- <h4>by <a href="/books/book/{{ book.id }}">{{ book.title }}</a></h4> -->
<!-- GETTING ERROR: path must be a string, so what's going in here is an integer -->
<h4>by <a href="#">{{ book.title }}</a></h4>
<ul>
    {% for category in book.categories %}
    <li>
        {{ category }}
    </li>
    {% endfor %}
</ul>
<hr/>
<div class="book-body">{% autoescape false %}{{ book.renderedSynopsis }}{% endautoescape %}</div>
<hr/>
<!-- IN booktitle.html PAGE -->
<a href="#" class="btn btn-primary">edit this book</a>
<a href="#" class="btn btn-danger">delete this book</a>
{% endblock %}
