{% extends "layout.html" %}

{% block content %}
<h3>{{ book.title }}
    <small> (<a href="{{ book.route }}/similar">Similar</a>)</small>
</h3>
<h4>by <a href="/users/{{ book.author.id }}">{{ book.author.name }}</a></h4>
<ul>
    {% for tag in book.tags %}
    <li>
        {{ tag }}
    </li>
    {% endfor %}
</ul>
<hr/>
<div class="book-body">{% autoescape false %}{{ book.renderedContent }}{% endautoescape %}</div>
<hr/>
<a href="{{ book.route }}/edit" class="btn btn-primary">edit this book</a>
<a href="{{ book.route }}/delete" class="btn btn-danger">delete this book</a>
{% endblock %}
