{% extends "layout.html" %}

{% block content %}
<h3>{{ book.title }}
    <!-- <small> (<a href="{{ book.route }}/similar">Similar</a>)</small> -->
    <small> (<a href="#">Similar</a>)</small>
</h3>
<!-- <h4>by <a href="/authors/{{ book.author.id }}">{{ book.author.name }}</a></h4> -->
<h4>by <a href="#">{{ book.author.name }}</a></h4>
<ul>
    {% for category in book.categories %}
    <li>
        {{ category }}
    </li>
    {% endfor %}
</ul>
<hr/>
<div class="book-body">{% autoescape false %}{{ book.getBlurb }}{% endautoescape %}</div>
<hr/>
<!-- IN bookpage.html PAGE -->
<a href="{{ book.route }}/edit" class="btn btn-primary">edit this book</a>
<a href="{{ book.route }}/delete" class="btn btn-danger">delete this book</a>
{% endblock %}
